header{
    margin: auto;
    width: 80%;
    margin-top: 50px;
    margin-left: 100px;
    height: 20%;
}
nav{
    border: 2px solid black;
    display: inline-block;
    font-size: 25px ;
    padding: 10px 20px;
    margin-left: 100px;
}
nav a:hover{
    background-color: #ddd;
    color: black;
}
#nome_hotel{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 80px ;
}
#login_png{
    display: inline-block;
    margin-left: 150px;
}
