header{
    margin: auto;
    width: 80%;
    margin-top: 50px;
    margin-left: 100px;
    height: 20%;
}
nav{
    border: 2px solid black;
    display: inline-block;
    font-size: 25px ;
    padding: 10px 20px;
    margin-left: 100px;
    font-family: arial;
}
nav a:hover{
    background-color: #ddd;
    color: black;
}
#nome_hotel{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 80px ;
    margin-left:40px;
}
#login_png{
    display: inline-block;
    margin-left: 200px;
}
#footer{
  height:600px;
  max-width: 100%;
  background-color:#252641;
}
#logo_hotel{
  margin-top: 80px;
  margin-left: 100px;
}
#informazioni_footer1{
  margin-top: 50px;
  margin-left: 100px;
  font-size: 20px;
  font-family: helvetica;
  color: #FFF;
  line-height: 10px;
}
#informazioni_footer2{
  margin-top: 50px;
  margin-left: 100px;
  font-size: 20px;
  font-family: helvetica;
  color: #FFF;
  line-height: 10px;
}
#informazioni_footer3{
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
  font-size: 20px;
  font-family: helvetica;
  color: #FFF;
  line-height: 10px;
}
 #copyright{
   margin-left: 100px;
   font-size: 15px;
   font-family: helvetica;
   color: #FFF;
 }
#frase_footer{
  margin-top: -400px;
  margin-left: 400px;
  font-size: 15px;
  font-family: helvetica;
  color: #FFF;
}
